{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy - Recipes</title>
{% endblock %}
  

{% block content %} 
  <section class="cards">
    
    {% for recipe in recipes %}
      <div class="card">
        <div class="card__image-container">
          <img src="{{recipe.image}}" alt="image {{recipe.title}}">
        </div>
        
        <div class="card__title">
          <p>{{recipe.title}}</p>
        </div>
        
        <div class="card__owner">
          <p>{{recipe.author}}</p>
        </div>
      </div>
    {% endfor %}

  </section>
{% endblock %}
  
{# <script src="./scripts.js"></script> #}
